/*===============================
            Default Values
            Font Family     : Roboto Condensed
            1st color :     #ffb606 (Buttons, Icons, Links & Background)
            2nd color :     #333 (Headings)
            3rd color :     #999 (Paragraphs) 
            White     :     #fff    (Text with black background)
            Black     :     #111

================================*/
.saperator{
    margin-bottom: 200px;
}
html, body{
    height: 100%;
}

body{
font-family: 'Roboto', sans-serif;
}

h3{
    color: #333;
    text-transform: uppercase;
}
h4{
    color: #333;
}
p{
    color: #999;
    font-size: 16px;
    font-weight: 300;
}

.mt-40{margin-top: 40px;}
.mb-40{margin-bottom: 40px;}

.mt-50{margin-top: 50px;}
.mb-50{margin-bottom: 50px;}

/*=====================================================================
                                Home Start
=======================================================================*/
#home{
    height: 100%;
}

#home-cover{
    height: 100%;
    background-image: url("../img/bg-home.jpg");
}
#home-content-box{
    width: 100%;
    height: 100%;
    display: table;
}
#home-content-box-inner{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#home-heading h3{
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    margin: 20px 0 20px 0;
    text-transform: uppercase;
}

/*===============================
            Paralax (Generic)
================================*/
.bg-paralax{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/*===============================
            Button (Generic)
================================*/

.btn-general{
    border-width: 2px;
    border-radius: 0;
    padding: 12px 26px 12px 26px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}
.btn-white{
    border-color: #ffb606;
    color: #fff;
}

.btn-white:hover, .btn-white:focus{
    background-color: #ffb606;
    color: #333;
    font-weight: 600;
    transition: all .5s;
}

.btn-black{
    border-color: #ffb606;
    color: #ffb606;
}

.btn-black:hover, .btn-black:focus{
    background-color: #ffb606;
    color: #fff;
    font-weight: 600;
    transition: all .5s;
}

/*===============================
            Animation
================================*/
#home-cover, #home-heading, #home-btn{
    animation-duration: .5s;
}
#home-cover{
    animation-delay: .1s;
}
#home-heading{
    animation-delay: .5s;
}
#home-btn{
    animation-delay: 1s;
}

/*=====================================================================
                                Services Start
=======================================================================*/

/*===============================
    Content box (Generic)
================================*/

.content-box{
    padding: 60px 0 60px 0;
}
.content-title h3{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 30px 0;
}
.content-title-underline{
    width: 35px;
    height: 3px;
    background-color: #ffb606;
    margin: 0 auto 30px auto;
}
.service-item{
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
    cursor: pointer;
}
.service-item-icon i{
    color: #ffb606;
    float: left;
    padding: 15px;
    margin-right: 25px;
    width: 75px;
    height: 75px;
    text-align: center;
}

.service-item:hover .service-item-icon i{
    color: #fff;
    background-color: #ffb606;
}
.service-item-title h3{
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px 0;
}
.service-item-desc p{
    margin: 0;
    padding-left: 100px;
}

/*=====================================================================
                                About Start
=======================================================================*/
#about-bg-diagonal{
    height: 700px;
    float: right;
    background-image: url(../img/bg-about.jpg);
    border-left: 200px solid #fff;
    border-top: 700px solid transparent;
}
#about-content-box{
    float: left;
    height: 700px;
}
#about-content-box-outer{
    width: 100%;
    height: 100%;
    display: table;
}
#about-content-box-inner{
    display: table-cell;
    vertical-align: middle;
}
#about .content-title h3{
    text-align: left;
}
#about .content-title-underline{
    margin: 0 0 30px 0;
}
#about-desc p{
    margin-bottom: 30px;
}

/*=====================================================================
                                Work Start
=======================================================================*/
.row .no-gutters [class*=col-]{
    padding-left: 0;
    padding-right: 0;
}
.img-wrapper{
    overflow: hidden;
}
.img-wrapper img{
    transition: transform .5s ease;
}
.img-wrapper img:hover{
    transform: scale(1.5);
    cursor: zoom-in;
}

/*=====================================================================
                                Team Start
=======================================================================*/
.team-member{
    margin: 0 15px;
}
.team-member-info{
    text-align: center;
    padding: 10px 0 5px 0;
}
h4.team-member-name{
    color: #333;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 10px;
}
h4.team-member-designation{
    color: #ffb606;
    font-size: 15px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 5px;
    text-transform: uppercase;
}

/*==============================
            Social
================================*/
.social-list{
    padding-left: 0;
}
.social-list li{
    padding-top: 7px;
    margin-right: 5px;
    margin-top: 5px;
    list-style: none;
    display: inline-block;
    border: 1px solid #ffb606;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer; 
} 

#contact .social-list li{
    border: 1px solid #fff;
} 
.social-icon i{
    font-size: 17px;
}
.icon-grey i{
    color: #999;
}
.icon-white i{
    padding-left: 9px;
    color: #fff;
}
.social-list li.facebook:hover{
    background-color: #3b5998;
    border-color: #3b5998;
    transition: all .5s;
   
}
.social-list li.twitter:hover{
    background-color: #38A1F3;
    border-color: #38A1F3;
    transition: all .5s;
   
}
.social-list li.google:hover{
    background-color: #dd4b39;
    border-color: #dd4b39;
    transition: all .5s;
   
}
.social-list li.pinterest:hover{
    background-color: #c8232c;
    border-color: #c8232c;
    transition: all .5s;
   
}
.social-list li.linkedin:hover{
    background-color: #0077B5;
    border-color: #0077B5;
    transition: all .5s;
   
}
.social-list li:hover .social-icon i{
    color: #fff;
    transition: all .5s;
}

/*=====================================================================
                                Testimonial Start
=======================================================================*/
#testimonial-cover{
    background-image: url("../img/bg-4.jpg");
}
#testimonial .content-box{
    background-color: rgba(0, 0, 0, .7);
}

.content-title-white h3{
    color: #fff;
}
#customers-testimonial{
    margin: 50px 0;
}
.testimonial img{
    max-width: 120px;
    margin: 0 auto 0 auto;
}
.testimonial blockquote{
    font-family: Georgia, sans-serif;
    font-style: italic;
    color: #fff;
    padding: 6px 150px;
    position: relative;
    
}
.testimonial blockquote p{ 
    color: #fff;
}
.testimonial blockquote::before,
.testimonial blockquote::after{
    font-size: 80px;
    font-style: normal;
    line-height: 1;
    height: 30px;
    width: 30px;
    position: absolute;
}
.testimonial blockquote::before{
    content: "\201c";
    top: 0;
    left: 100px;
}
.testimonial blockquote::after{
    content: "\201D";
    bottom: 0;
    right: 100px;
}
.testimonial-author-name p{
    color: #fff;
    font-size: 17px;
}
.testimonial-author-name p strong{
    display: block;
    color: #ffb606;
}
.testimonial-author-name p span{
    text-transform: uppercase;
}
/*=====================================================================
                                Pricing Start
=======================================================================*/
.pricing-box{
    border: 3px solid #ffb606;
    padding: 50px 0;
    margin: 40px 0;
}
h4.pricing-title{
    background-color: #ffb606;
    color: #fff;
    display: inline-block;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 30px 0;
}
h3.pricing-value{
    font-size: 60px;
    font-weight: 700;
}
h3.pricing-value sup{
    font-size: 28px;
    font-weight: normal;
    vertical-align: super;
}

ul.pricing-feature{
    list-style: none;
    padding-left: 0;
    margin: 20px 0 60px 0;
}
ul.pricing-feature li p{
    font-weight: 400;
    text-transform: uppercase;
    color: #000;
}

.pricing-box-lg{
    background-color: #ffb606;
    padding: 90px 0;
    margin: 0;
} 

.pricing-box-lg h4.pricing-title{
    background-color: #fff;
    color: #ffb606;
}
.pricing-box-lg ul.pricing-feature li p{
    color: #fff;
}

.pricing-btn .btn-white{
    border-color: #fff; 
}
.pricing-btn .btn-white:hover{
    background-color: #fff;
}

/*=====================================================================
                                Stars Start
=======================================================================*/
#star-cover{
    background-image: url("../img/bg-3.jpg")
}
#star .content-box{
    background-color: rgba(0, 0, 0, .7)
}
.star-item{
    padding: 100px 0;
}
.star-item i{
    color: #ffb606;
}
.star-item h2{
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    margin: 15px 0 1px 0;
}
.star-item p{
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 0;
}
/*=====================================================================
                                Client Start
=======================================================================*/
.client{
    padding: 40px 0;
}
.client img{
    margin: 0 auto 0 auto;
    max-width: 100px;
}
/*=====================================================================
                                Contact Start
=======================================================================*/
#contact{
    padding-top: 60px;
}
#contact-cover{
    background-image: url("../img/map.jpg")
}
#contact-left h3, #contact-right h3{
    color: #fff;
    font-size: 27px;
    font-weight: 700;
}
#contact-right .btn-white{
    border-color: #fff;

}
#contact-right .btn-white:hover{
    background-color: #fff;

}
#contact-left p{
    color: #fff;
    margin-bottom: 30px;
}
address{
    color: #fff;
}
address strong, #phone-fax-email strong{
    letter-spacing: 1px;
}

form .form-control{
    background: transparent;
    border-radius: 0;
    font-size: 17px;
    font-weight: 300;
    padding: 8px 16px;
    color: #fff;
    margin-bottom: 20px;
}
form .form-control:focus{
    background: transparent;
    color: #fff;
}
.modal-body input[type="text"], input[type="email"], ::-webkit-input-placeholder{
    color: orange;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: orange;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #fff;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #fff;
  }

  /*=====================================================================
                                Footer Start
=======================================================================*/

footer{
    margin-top: 60px;
}
footer .content-box{
    padding-bottom: 25px;
}

#main-footer{
    background-color: #111;
    margin-bottom: 0;
}
img.footer-logo{
    margin-left: -75px;
    padding-bottom: 20px;
}
.main-footer-menu h3{
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 20px 0;
}

.main-footer-menu{
    float: left;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
  }
  .main-footer-menu ul{
    padding-left: 0px;
    list-style: none;
    margin: 0;
  }
  .main-footer-menu ul li{
      display: block;
      padding: 3px 0;
  }
  .main-footer-menu ul li a{
      color: #999;
      font-size: 16px;
      font-weight: 500;
      text-decoration: none;
  }
  .main-footer-menu ul li a:hover{
      color: #ffb606;
  }
  #main-footer ul.social-list li {
      border: 1px solid #fff;
  }
    .row.bf-into {
    border-top: 1px solid #ccc;
    padding: 20px 0;
    }
  #bottom-footer{
      background-color: #111;
  }

  #footer-copyright p{
    margin: 0;
    color: #fff;
  }
  #footer-copyright p a{
    color: #ffb606;
  }
  #bottom-footer-menu{
    float: left;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
  }
  #bottom-footer-menu ul{
    list-style: none;
    padding-left: 0;
    margin: 0
  }
  #bottom-footer-menu ul li{
      display: inline-block;
  }
  #bottom-footer-menu a{
      color: #fff;
      font-size: 16px;
      font-weight: 300;
      margin: 0 10px;
      text-decoration: none;
  }
  #bottom-footer-menu a:hover{
      color: #ffb606;
  }

  /*=====================================================================
                                Navigation Start
=======================================================================*/
.navbar{
    padding: 20px 0;
    transition: all .5s ease-in-out;
}
.intezie-school-top-nav{
    background: rgba(0, 0, 0, .7);
    padding: 7px 0;
}
.navbar-nav > li > a{
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus{
    background: none;
    color: #ffb606;
    transition: all .5s ease;
}
.navbar-toggler{
    background-color: rgba(0, 0, 0, 0.1);
    border-color: #ccc;
    border-radius: 0;
    color: #fff;
}
 .navbar-toggler-icon {
    color: #fff !important;
}
 .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.intezie-school-top-nav ul >li > a.nav-link.active {
    color: #ffb606;
}


.btn-back-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 22px;
    padding: 3px 15px;
    border-radius: 0;
    background: #ffb606;
    /* display: none; */
}
.btn-back-to-top i{
    color: #fff;
}
.btn-back-to-top:focus{
    box-shadow: none;
  }


  /*=====================================================================
                                Event Start
=======================================================================*/
.event-date-month{
    margin-right: 60%;
    margin-left: 0;
    padding-left: 0;
}
.event-date-month ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.event-date-month ul li.date{
    font-size: 60px;
    color: #ffb606;
    font-weight: 700;
    padding-bottom: 0px;
    margin-bottom: -10px;
}
.event-date-month ul li.month{
    padding-top: 0;
    margin-top: 0;
    font-size: 16px;
    color: #ffb606;
    font-weight: 700;
    text-transform: uppercase;
}
.event-details{
    padding-top: 0;
    margin-top: 0;
    padding-right: 40px;
}
.event-title h3{
    color: #333;
    font-size: 25px;
    font-weight: 700;
    margin: 5px 0 20px 0;
    text-transform: uppercase;
}
.event-time-location{
    color: #999;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 30px;
}
.event-time-location span{
    margin-right: 20px;
} 
.event-time-location span.location{
    letter-spacing: 1px;
} 
.event-time-location i{
    margin-right: 5px;
} 

.event-desc p{
    margin: 0;
    font-size: 14px;
}

.event-image img{
    max-width: 100%;
}

.event-date-month, .event-details, .event-image{
    margin-bottom: 70px;
}

#event .content-box .content-title .btn-black{
    position: absolute;
    right: 120px;
    top: 20px;
    border: 1px solid #111;
    color: #333;
    font-weight: 700;
    padding: 5px 15px;
} 
#event .content-box .content-title .btn-black:hover{
    transition: all .3s ease-in-out;
    border: 1px solid #ffb606;
    color: #ffb606;
    background-color: transparent;
}
/* #event .content-title h3{
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    margin: 0 0 30px 120px;
}
#event .content-title-underline{
    width: 35px;
    height: 3px;
    background-color: #ffb606;
    margin: 0 auto 100px 120px;
} */

/*=====================================================================
                                News Start
=======================================================================*/
#news-cover{
    background-image: url("../img/bg-4.jpg");
}
#news .content-box{
    background-color: rgba(0, 0, 0, .7);
}

#latest-news{
    margin: 50px 0;
} 
.single-news{
    margin-right: 40px;
}
.single-news img{
    max-width: 100%;
    margin: 0 auto -21px auto;
}
.news-author-name{
    text-align: center;
}
.news-author-name p{
    text-align: center;
    padding: 10px 20px;
    display: inline-block;
    background-color: rgba(252, 182, 6, 0.9);
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

.news-title p{
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}



/*----------------------- owl carosol start----------------*/
	
/* .owl-prev{
    height: 20px;
    position: absolute;
    top: -30px;
    right: 20px;
    margin: auto 0;
    margin-left: 0px;
    
} */
.owl-prev{
    position: absolute;
    top: -100px;
    right: 40px;
    left: auto;
    margin: auto 0;
    display: inline-block;
    cursor: pointer;
    /* border: 1px solid #fff; */
    width: 30px;
    text-align: center;
    line-height: 28px;
}

.owl-next{
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    /* border: 1px solid #fff; */
    width: 30px;
    text-align: center;
    line-height: 28px;
    position: absolute;
    top: -100px;
    right: 0;
    left: auto;
    margin: auto 0;
    }

/* .owl-next{
    height: 20px;
    position: absolute;
    top: -30px;
    right: 0;
    left: auto;
    margin: auto 0;
    margin-right: 0px;
    
} */
.owl-prev span{
text-align: center;
vertical-align: middle;
line-height: 28px;
color: #fff;
font-size: 15px;
display: block;
border: 1px solid #fff;
font-weight: 400;
}

/* .owl-prev span {
	border: #fff;
  	font-weight: bold;
    background: #800;
    padding: 5px 10px;
    color: #fff;
    font-size: 15px;
    margin-right: 15px;
} */

/* .owl-next span {
	border: #fff;
  font-weight: bold;
    background: #800;
    padding: 5px 10px;
    color: #fff;
    font-size: 15px;
} */
.owl-next span{
    text-align: center;
    vertical-align: middle;
    line-height: 28px;
    color: #fff;
    font-size: 15px;
    display: block;
    border: 1px solid #fff;
    font-weight: 400;
} 


/*--------------------- owl carosiol end -----------------*/


#why-choose-us-cover{
    background-image: url("../img/bg-9.jpg");
}
#why-choose-us-cover .content-box{
    background-color: rgba(0, 0, 0, 0.7);
}
.why-choose-us-right .why-choose-us-item{
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
    cursor: pointer;
}
.why-choose-us-right .why-choose-us-item-icon i{
    color: #ffb606;
    float: left;
    padding: 15px;
    width: 75px;
    height: 75px;
    text-align: center;
}
.why-choose-us-right .why-choose-us-item-title h3{
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px 0;
    color: #fff;
    padding-left: 0;
}
.why-choose-us-right .why-choose-us-item-desc p{
    margin: 0;
    padding-left: 95px;
    text-align: left;
}



#instructor{
    height: 450px;
} 
#instructor-cover{
    background-image: url("../img/bg-5.jpg");
    background-position-y: 150px;
    height: 450px;
}

.instructor-outer{
    background-color: rgba(252, 182, 6, 0.5);
    width: 100%;
    height: 100%;
    display: table;
}
.instructor-inner{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.instructor-inner h3{
    color: #333;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
}
.instructor-inner p{
    color: #333;
    font-size: 20px;
    margin-bottom: 30px;
}
.instructor-inner .btn-white{
    border: 2px solid #111;
    color: #111;
    font-size: 14px;
    font-weight: 700;
}
.instructor-inner .btn-white:hover{
    color: #fff;
    background-color: #111;
}


#subscriber-cover{
    margin-top: 80px;
    background-image: url("../img/bg-6.png");
    height: 300px;
    background-repeat: no-repeat;
}
.subscriber-form{
    padding: 60px 0;
}
.subscriber-form p{
    padding: 40px 120px 20px 70px;
    font-size: 15px;
    color: #333;
    font-weight: 400;
    text-align: center;
}
.subscriber-form form{
    margin-top: 50px;
    margin-left: 60px;
}
.subscriber-form input[type="email"] {
    border: 1px solid #ddd;
    height: 50px;
    padding: 9px 10px;
    line-height: 30px;
    max-width: 425px;
    width: calc(100% - 120px);
    width: -webkit-calc(100% - 120px);
    width: -moz-calc(100% - 120px);
    color: inherit;
}
.subscriber-form input[type="submit"] {
    text-transform: uppercase;
    font-size: 13px;
    height: 50px;
    border: none;
    padding: 10px 25px;
    margin-left: -5px;
    vertical-align: top;
    font-weight: 700;
    line-height: 30px;
    background-color: #ffb606;
}

.subscriber-form input[type="email"]::-webkit-input-placeholder {
    color: #999;
    font-size: 14px;
    font-weight: 400;
  }
